@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,804;1,804&display=swap');


.owner-name{ 
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
line-height: 33px;
text-align: left;

}

.btn{
      
    border: 1px solid rgb(13, 19, 33);
 border-radius: 5px;
 width: 244px;
 height: 47px;
font-family: Azeret Mono;
font-size: 17px;
font-weight: 600;
text-align: center;
padding: 17px 24px 24px 24px;
opacity: 0.8;
box-sizing: border-box;
margin-top: 18px;

background-color: white;

}

.nav{
    display: flex;
    /* position: absolute;  */
    justify-content: center;
    gap: 896px;
}
nav a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.banner-caption{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
    margin-right: 221px;
    margin-left: 221px;
}
.caption-dt{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
/* font-weight: 400; */
opacity: 0.5;
text-align: center;
margin-left: 221px;
margin-right: 221px;

}
.btn-primary{
    padding: 18px 21px;
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
background-color: #0D1321;
border-radius: 5px;
cursor: pointer;
}
.ban-button{
    text-align: center;
}

.ban-image{
   display: flex;
  justify-content: center;
  margin-top: 26px;
}
.header{
    background-image: url(/assets/Hero-bg.png);
    background-repeat: no-repeat;
    margin-top: 27px;
    padding-top: 18px;
    padding-bottom: 40px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.section-tittle{
 color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
text-align: center;
margin-bottom: 0;
}
.ti-dt{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
text-align: center;
margin-top: 24px;
}
.txt-1{
    color: #0D1321;
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
text-align: left;
}
.txt-2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: left;

}
.learn-more{
    width: 150px;
height: 48px;
border: 1px solid rgb(13, 19, 33);
background-color: #FEFEFE;
opacity: 0.7;
color: #0D1321;
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
margin-top: 32px;
}

.sec-card1{
    background-color: white;
    display: flex;
    gap: 98px;
    padding: 48px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 110px;
}

.sec-1{
    background-color: #FAFAFB;
    padding-top: 80px;
    margin-top: 74px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    padding-bottom: 80px;

}
.sec2-tittle{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
}

.titdt-2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
text-align: center;
margin-bottom: 68px;
}

iframe{
    display: block;
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(13, 19, 33, 0.2);
    padding: 28px;
}
